<h1 nz-typography>{{'home.title' | translate}}</h1>
<h2 nz-typography>{{'home.subtitle' | translate}}</h2>

<ambm-modal></ambm-modal>

<nz-space nzDirection="vertical">
  <nz-space-item>
    <nz-card nzTitle="{{'home.sitePresentation' | translate}}" [nzHoverable]="true">
      <p nz-typography>Este simple sitio web lo he creado para presentar mi currículum vitae.</p>
      <p> Lo he desarrollado usando el framework de código libre de programación
        <a href="https://angular.io/cli" target="_blank">Angular Cli</a>,
        además he usado
        <a href="https://firebase.google.com/docs?authuser=0" target="_blank">Firebase de Google</a>
        que es una plataforma en la nube donde me ha permitido gestionar base de datos en tiempo real
        y autenticación para este sitio,
        usando esta plataforma para alojar la aplicación en su servidor de forma gratuita.
        El código de este sitio está publicado en
        <a href="https://github.com/alejandrobolano/cv" target="_blank">GitHub</a>
      </p>
      <p>
        Para el diseño he usado
        <a href="https://ng.ant.design/" target="_blank">NgZorro</a>,
        que es una librería de interfaz de usuario para Angular.
      </p>
    </nz-card>
  </nz-space-item>

  <nz-space-item>
    <div id="ads-custom">
      <img alt="Alejandro Dev" src="{{image}}"/>
    </div>

  </nz-space-item>

  <nz-space-item>
    <nz-card nzTitle="{{'home.personalSummary' | translate}}" [nzHoverable]="true">
      <p nz-typography>Antes de todo me llamo Alejandro Manuel Bolaño Méndez y soy Ingeniero Informático graduado en
        la Universidad Tecnológica de La Habana "Jose Antonio Echevarría" y soy de nacionalidad cubana</p>
      <p nz-typography>
        Me considero tener amplios deseos de superación personal y profesional. Me he especializado en el mundo del
        desarrollo web y
        amante a Android. Además, me encanta el mundo del marketing y las ventas. Me considero un joven trabajador,
        discreto, humilde, sacrificado y ambicioso.
      </p>
    </nz-card>
  </nz-space-item>
</nz-space>



