@import "src/theme";

.ant-card-hoverable {
  cursor: auto;
}

#ads-custom {
  img {
    border-radius: @border-radius-base;
    height: 20em;
    width: 100%;
  }:hover{
       box-shadow: 0 10px 20px 1px rgba(33, 33, 33, 0.2);
       opacity: 0.9;
   }
}
