@import "src/theme";

nz-space {
  width: 100% !important;
}

.ant-card-hoverable {
  cursor: auto;
}

.container {
  text-align: center;
  nz-spin {
    margin:auto;
  }
}

.portfolio-card {
  margin: 0 auto !important;
  width: 32em !important;
  .img-card{
    height: 25em;
  }
}

nz-card {
  margin: 0 auto !important;
  width: 100% !important;
  margin-bottom: @margin-md !important;
}

@media screen and (max-width: @screen-md) {
  .portfolio-card {
    width: 100% !important;
    margin-bottom: @margin-md !important;
  }
}

