<h1 nz-typography>{{'portfolio.title' |translate}}</h1>

<div nz-row [nzGutter]="16"
     [nzJustify]="windowResize.IsMobile ? 'center' : 'start'" >
  <div *ngFor="let previewLink of linksPreview"
       nz-col
  class="portfolio-card">

    <nz-card nzHoverable
             [nzCover]="coverTemplate"
             [nzSize]="'default'"
             [nzActions]="[actionSetting]">
      <a href="{{previewLink?.url}}" target="_blank">
        <nz-card-meta nzTitle="{{previewLink?.title}}"
                      nzDescription="{{previewLink.description}}"></nz-card-meta>
      </a>
    </nz-card>

    <ng-template #coverTemplate>
      <img class="img-card" alt="{{previewLink?.title}}" src="{{previewLink?.image}}"/>
    </ng-template>

    <ng-template #actionSetting>
      <a *ngIf="previewLink?.url" href="{{previewLink?.url}}" target="_blank">{{previewLink?.url}}</a>
    </ng-template>

  </div>
</div>


