<div *ngIf="!isMobile">
  <nz-row>
    <nz-col [nzSpan]="18">
      <ng-container *ngTemplateOutlet="quoteTemplate"></ng-container>
    </nz-col>
    <nz-col [nzSpan]="6" class="good-coding">
      <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>
    </nz-col>
  </nz-row>
</div>

<div *ngIf="isMobile">
  <nz-row>
    <ng-container *ngTemplateOutlet="quoteTemplate"></ng-container>
  </nz-row>
  <nz-row
    class="good-coding">
    <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>
  </nz-row>
</div>

<ng-template #quoteTemplate>
  <span class="phrase" nz-typography> ...{{quote.quote}}...</span>
  <div>
    <span class="phrase-author">- {{quote.author}}</span>
  </div>
</ng-template>

<ng-template #authorTemplate>
  <span>
    <i nz-icon nzType="heart" nzTheme="fill" style="color: darkred;"></i>
         Enjoy coding with me - {{title}}
    <i nz-icon nzType="heart" nzTheme="fill" style="color: darkred;"></i>
  </span>
</ng-template>
