.footer-links a {
    color: #fff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}

#footer {
  align-items: center;

  .coding, .phrase {
    margin: auto;
  }

  .phrase {
    color: #fff !important;
    font-style: italic;
    .phrase-author {
      color: #fff !important;
    }
  }

}
