<div id="footer">
  <nz-row>
    <ng-container *ngTemplateOutlet="quoteTemplate"></ng-container>
  </nz-row>
  <nz-row>
    <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>
  </nz-row>
</div>

<ng-template #quoteTemplate>
  <div class="phrase">
    <span> ...{{quote.quote}}...</span>
    <nz-divider class="phrase-author" nzText="{{quote.author}}" nzOrientation="right"></nz-divider>
  </div>
</ng-template>

<ng-template #authorTemplate>
  <span class="coding">
    <i nz-icon nzType="heart" nzTheme="fill" style="color: darkred;"></i>
         Enjoy coding with me - {{"titleSidebar"|translate}}
    <i nz-icon nzType="heart" nzTheme="fill" style="color: darkred;"></i>
  </span>
</ng-template>
