<div class="app-header">
        <span class="header-trigger"
              (click)="collapseEvent()">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>


  <nz-select nzPlaceHolder="Select language" [nzSuffixIcon]="translationIcon" [(ngModel)]="language" (ngModelChange)="switchLanguage(language)">
    <nz-option nzLabel="Español" nzValue="es"></nz-option>
    <nz-option nzLabel="English" nzValue="en"></nz-option>
    <nz-option nzLabel="Català" nzValue="ca"></nz-option>
  </nz-select>
</div>

<ng-template #translationIcon>
  <i nz-icon nzType="translation" nzTheme="outline"></i>
</ng-template>
