<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="{{imgLogo}}" alt="logo">
        <h1>{{title}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="{{theme}}" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Navigation" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/navigation/home">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/navigation/portfolio">Portfolio</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Private" nzIcon="lock">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="">Sites</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Thirds" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="https://ng.ant.design/" target="_blank">Ant Design Of Angular</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        <nz-select nzPlaceHolder="Select a person" [(ngModel)]="language" (ngModelChange)="switchLanguage(language)">
          <nz-option nzLabel="Español" nzValue="es"></nz-option>
          <nz-option nzLabel="English" nzValue="en"></nz-option>
          <nz-option nzLabel="Català" nzValue="ca"></nz-option>
        </nz-select>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>{{title}} ©2020 Implement By Angular</nz-footer>
  </nz-layout>

</nz-layout>
