<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzWidth="256px"
            nzBreakpoint="md"
            [nzCollapsedWidth]="isMobile ? 0 : 80"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <ambm-sidebar [isCollapsed]="isCollapsed"
                  (collapseEmitter)="setCollapsed($event)"></ambm-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ambm-header [isCollapsed]="isCollapsed"
                   (collapseEmitter)="setCollapsed($event)"></ambm-header>
    </nz-header>
    <nz-content
      [class.opacity]="isMobile && !isCollapsed">
      <div
        class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer
      [class.opacity]="isMobile && !isCollapsed">
      <ambm-footer></ambm-footer>
    </nz-footer>
  </nz-layout>

</nz-layout>
