<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="{{imgLogo}}" alt="logo">
        <h1>{{title}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="{{theme}}" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="{{'navigation'|translate}}" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/navigation/home">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/navigation/portfolio">Portfolio</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'private'|translate}}" nzIcon="lock">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/private/sites">Sites</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Thirds" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="https://ng.ant.design/" target="_blank">Ant Design Of Angular</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ambm-header [isCollapsed]="isCollapsed"
                   (collapseEmitter)="isCollapsed = $event"></ambm-header>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <ambm-footer></ambm-footer>
    </nz-footer>
  </nz-layout>

</nz-layout>
