:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.app-layout {
  height: 100vh;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-content {
  margin: 24px;
  overflow: inherit;
}

.inner-content {
  padding: 24px;
  background: #fff;
  overflow-scrolling: touch;
}

nz-footer {
  background: #001529;
  bottom: 0;
  color: #f0f2f5;
  text-align: center;
}

nz-layout:last-child {
  margin: 0;
}
