<h1 nz-typography>Welcome to my personal website</h1>

<nz-space nzDirection="vertical">
  <nz-space-item>
    <nz-card nzTitle="I am">
      <p nz-typography [nzCopyable]="true">My name is Alejandro Manuel Bolaño Méndez</p>
      <p nz-typography>This is a website development in <a href="https://angular.io/cli" target="_blank">Angular Cli</a> using <a href="https://ng.ant.design/" target="_blank">NgZorro</a>, an Angular UI library</p>
      <p nz-typography>I have translated the site to english, catalan and spanish (mother tongue) <i nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ff3724'"></i>
      </p>
    </nz-card>
  </nz-space-item>
  <nz-space-item>
    <nz-card nzTitle="Briefing">
      <p nz-typography nzCopyable>I am computer Engineer, with desires for personal and professional improvement. Specializing in the world of web development and Android programming.
        I love the world of marketing and sales. I consider myself a young worker, discreet, humble, self-sacrificing and ambitious. </p>
    </nz-card>
  </nz-space-item>
</nz-space>




