<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="input search text"
         (ngModelChange)="searchEvent(searchValue)"
         [(ngModel)]="searchValue"/>
</nz-input-group>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch (click)="searchEvent(searchValue)"><em nz-icon nzType="search"></em></button>
  <button nz-button nzType="default" nzSearch (click)="resetEvent()"><em nz-icon nzType="delete"></em></button>
</ng-template>
